<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.dteam.OlympicQuiz"
        version="1.0.1">

  <name>Free Quiz Game - Rio Olympic 2016</name>
  <description>A quiz game based on Rio Olympic 2016.</description>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="android-build-tool" value="gradle" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="9"/>

  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2"/>
  <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0"/>
  <gap:plugin name="cordova-plugin-admobpro" source="npm" />
  <gap:plugin name="cc.fovea.cordova.purchase" source="npm" version="6.0.0" />

  <icon src="icon.png"/>

</widget>